/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    /*margin: 40px;*/
    margin: 0 3%;
     /*
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  */
  }
  
  article {
    font-size: 18px;
  }
  
  h1 {
  font-size: 1.8em;
  margin: .9em 0 0 0;
  /*
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  */
  }

  /*
  main h2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border: 3px solid rebeccapurple;
}
*/
  img {
      max-width: 100%;
  }
  
  main {
      display: flex;
      flex-direction: column;
      border: 3px solid blue;
      align-items: center;
  
  }
  
  section {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  figure {
      margin: 0;
     /* margin: 20px;*/
     border: 3px solid orange;
     display: flex;
     flex-direction: column;
     width: 70%;
     margin-right: 2.5%;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media (min-width: 794px) {
    body {
        /*
        background-color: yellow;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 15%;
        */
        background: rgba(0,0,255,.2);
        margin: 25px 6%;
      }  
      figure {
        width: 45%;
        margin-right: 4.5%;
        border: 3px solid red;
      }
      section {
          border: 3px solid green;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;   
      }

    
  }

  @media (min-width: 1020px) {
    body {
        background-color: orange;
        font-size: 1.8em;
        font-family: Arial, Helvetica, sans-serif;
        margin: 30px 10%;
        max-width: 1130px;
        /*
        background: rgba(0,0,255,.2);
        margin: 25px 6%;
        */
      }  
      figure {
        width: 30%;
        margin-right: 2.5%;
      }
      /*
      section {
          border: 3px solid green;
          display: flex;
          flex-wrap: wrap;
      }
      */
      section {
        border: 3px solid red;
        /*display: column;*/

        display: flex;
        flex-wrap: wrap;
        
        }
        
  }
      
  